html {
    background-color:#3E5E6F;
    }

body {
    margin:auto;
    background-color: #D1DEE4;
    min-width: 320px;
    max-width:1100px;
    padding-bottom: 0px;
}

a {
    text-decoration: none;
}

ul {
    padding:0;    
}

li {
    font-family: Sans-serif;
    list-style: none;
}

h1 {
    text-align: center;
    font-family: Sans-serif;
    color: #3E5E6F;
    text-shadow: 2px 3px 2px darkgray;
}

h2 {
    text-align: center;
    font-family: Sans-serif;
    color: #3E5E6F;
    text-shadow: 0px 0px 2px darkgray;
}

h2 a {
    text-shadow: 2px 2px 2px darkgray;
    color: #1A394A;
    text-decoration: none;
}

h2 a:hover {
    text-shadow: 0px 0px 2px orange;
    color: #1A394A;
    text-decoration: none;
}

h3 {
    text-align: center;
    font-family: Sans-serif;
    color: #3E5E6F;
}

h3 a {
    text-shadow: 2px 2px 2px darkgray;
    color: #1A394A;
    text-decoration: none;
}

h3 a:hover {
    text-shadow: 0px 0px 2px orange;
    color: #1A394A;
    text-decoration: none;
}

header {
    background-color:#3E5E6F;
    text-align: center;
    width:100%;
    top:0;

}

header nav {
    text-align: center;
    background-color:orange;
    padding-bottom:5px;
    box-shadow:0px 2px 7px black;
}

header #nav_session {
box-shadow:0px 0px 5px 0px black;
}

header nav ul {
    padding:0;
}

header nav a {
    font-family: Sans-serif;
    color: darkblue;
    text-decoration:none;
}

header nav a:hover {
    color:darkblue;
    text-shadow: 0px 0px 2px lightblue;
}

header nav ul li {
    color:black;
    display: inline;
}

header #bandeau {
    display: inline;
    font-family: Sans-serif;
    color: orange;
    text-decoration:none;
}

header #bandeau h1 {
    margin-top:0;
    color: orange;
    text-shadow: 1px 2px 4px black;
}

header #bandeau h1:hover {
    text-shadow:0px 1px 1px black;
}

article {
    margin: auto;
    width: 75%;
    min-height:100px;
    text-align: center;
    background-color: white;
    box-shadow:5px 5px 5px #3E5E6F;
    padding: 5px;
    margin-bottom: 15px;
}

div {
    margin: auto;
    width: 75%;
    text-align: center;
    background-color: white;
    box-shadow:5px 5px 5px #3E5E6F;
    background-color: orange;
    margin-bottom:30px;
}

form {
    margin:auto;
    width:50%;
    text-align:center;
}

form fieldset input {
    width:100%;
}

form fieldset textarea{
    width:100%;
}

.buttons {
    width:50%;
    margin:auto;
    background-color: unset;
    box-shadow:unset;
}

div h1 {
    color:black;
    text-shadow: none;
}

div h2 {
    color:black;
    text-shadow: none;
}

div table {
    width:100%;
    background-color: white;
}

div table tr {
    height: 60px;
}

div table tr td {
    min-width: 110px;
    background-color: lightgray;
}

div a {
    color: darkblue;
}

div a:hover {
    color: crimson;
}

div table tr .day {
    min-width: 80px;
    background-color: lightsteelblue;
}

div table tr .event {
    background-color: lightcoral;
}

div table tr .new_session {
    background-color: lightgreen;
}

#sponsors {
    min-width:350px;
    margin: auto;
    padding:10px; 
    margin-bottom:30px; 
}

#sponsors table {
    padding: 5px;
    text-align: center;
    list-style: none;
}

#sponsors table tr td img {
    height: 100px;
}

#sponsors h1 {
    color: #3E5E6F;
    text-shadow: 2px 3px 2px darkgray;
}

#planning {
    min-width: 700px;
}

.scores_head td {
    background-color: lightsteelblue;
}

.scores_new td {
    background-color: lightgreen;
}

#idees_nav ul {
    padding: 0;
    padding-bottom: 10px;
    list-style: none;
    text-align: center;
    font-weight: bold;
}

#idees_nav ul li{
    display: inline;
    font-size: large;
    color: #3E5E6F;
    text-shadow: 2px 3px 2px darkgray;
}

#idees_nav ul li a {
    color: #1A394A;
}

#idees_nav ul li a:hover {
    text-shadow: 0px 0px 2px orange;
    color: #1A394A;
}

.centered {
    text-align: center;
    margin:auto;
}

.idee small {
    float: right;
}

.idee .votes {
    margin: 0;
    margin-left: 20px;
}

.video_list {
    padding:2px;
    padding-top:20px;
}

.video_list ul {
    background-color: white;
}

.rediff_player {
    min-width: 300px;
    padding-bottom: 5px;
}

.rediff_player video {
    width:90%;
}

.rediff_player h2 {
    padding-top: 15px;
}

.rediff_player .commentaires {
    background-color: white;
    padding-bottom:5px;
}

.rediff_player .commentaires textarea {
    overflow-y: scroll;
    width:90%;
    height:100px;
}

.rediff_player .commentaires ul {
    padding-top:5px;
    background-color: lightgray;
}

.live_player {
    min-width: 300px;
    padding-bottom: 5px;
}

.live_player video {
    width:90%;
}

.live_player h2 {
    padding-top: 15px;
}

.live_player .chat {
    background-color: white;
    padding-bottom:5px;
}

.live_player .chat ul {
    background-color: lightgray;
    overflow-y:scroll;
    height:200px;
}


ul li img {
    height:100px;
}

article h3 {
    margin-top: 0;    
}

button {
    margin-top:10px;
    margin-bottom:10px;
}

footer {
    background-color:#3E5E6F;
    text-align: center;
    width:100%;
}

footer p {
    margin:0;
    font-family: Sans-serif;
}
